.BigServer {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}

.BigServerImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 90px;
  margin-right: 0.7rem;
}
